* {
	padding: 0;
	margin: 0;
	font-family: monospace;
}

body {
	overflow: hidden;
	position: fixed;
	-webkit-overflow-scrolling: touch;
	
	width: 100vw;
	height: 100vh;
	
	background-color: #1c1c1c;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 3.85vh;
	background-size: 350px;
}

body.read-only{
	touch-action: none;
}

body.read-only #ui-wrapper #color-wrapper, body.read-only #ui-wrapper #color-preset{
	display: none;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

#viewport-canvas {
	position: absolute;
	top: 0;
	left: 0;
	image-rendering: pixelated;
	width: 100vw;
	height: 100vh;
}

#ui-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transition: background 1s;
}

#ui-wrapper > #color-wrapper, #ui-wrapper > #color-preset, #zoom-wrapper {
	visibility: hidden;
}

#ui-wrapper[hide=true] {
	pointer-events: none;
	background: none;
}

#ui-wrapper[hide=true] > #color-wrapper, #ui-wrapper[hide=true] > #color-preset, #zoom-wrapper {
	visibility: visible;
}

#color-wrapper {
	position: absolute;
	bottom: 16px;
	left: 16px;
	display: flex;
	flex-direction: row;
	border: 1px solid #575757;
	background-color: #2f2f2f;
	border-radius: 1em;
}

#color-swatch {
	width: 20px;
	border-radius: 50%;
	margin: 0.15em 0.25em;
	background-color: #000000;
}

#color-field {
	height: 20px;
	padding: 2px 10px;
	border: none;
	outline: none;
	pointer-events: all;
	width: 75px;
	background: none;
	color: white;
}

#loading-p {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 1.4em;
	transform: translate(-50%,-50%);
	color: white;
}

#color-preset {
	position: absolute;
	top: 16px;
	left: 16px;
	max-width: calc(30px * 2 + 0.5em);
	
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	flex-wrap: wrap;
}
#color-preset > button{
	border: 1px solid #575757;
	pointer-events: all;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

#avec-amour {
	position: absolute;
	z-index: -1;
	bottom: 5px;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 1.4em;
	color: grey;
}

#zoom-wrapper {
	position: absolute;
	bottom: 16px;
	right: 16px;
}

.zoom-button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	outline: none;
	font-size: 22px;
	background: #2f2f2f none;
	color: white;
	border: 1px solid black;
	cursor: pointer;
	pointer-events: all;
	user-select: none;
}

#grid-wrapper {
	position: absolute;
	top: 16px;
	right: 16px;
}
